@using entityModels;
@model IEnumerable<entityModels.Cliente>

@{
    ViewBag.Title = "Clientes";

    
}



<script src="~/Scripts/jquery-1.6.3.min.js"></script>


        <!-- Encabezado inicio-->
        
             <div class="row">
                
              
                     <div class="col-md-12">

                         <button type="button" onclick="callNuevo('_AgregarCliente', 'Clientes', 'divClienteNuevo')"  class="btn btn-primary btn-primary" id="btn_Nuevo" data-target="#modalNuevo" data-toggle="modal" >
                                            Nuevo Cliente 
                         </button>
                         
                       
                     </div>

                 @using (Html.BeginForm()) { 

                     <!--Filtros de Busqueda-->
                     <div class="col-md-2">                         
                         <input class="form-control" placeholder="Codigo..." name="v_CODIGO"  value="@string.Empty" />               
                     </div>

                     <div class="col-md-2">
                         <input class="form-control" placeholder="Cliente..." name="v_CLIENTE" value="@string.Empty" />
                     </div>

                     

                     <div class="btn-fill pull-right">    
                        <div class="col-md-2" style="vertical-align:top">                    
                         <input class="btn btn-success" type="submit" value="BUSCAR" />
                        </div>
                     </div>
                 }
                 
            </div>
                       
        <!-- Encabezado fin-->


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                    <div class="card-body">
                       
                            <table class="table table-bordered">
                                <tr>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;text-align:center">
                                        @Html.DisplayNameFor(model => model.codigo)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;">
                                        @Html.DisplayNameFor(model => model.documento)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;">
                                        @Html.DisplayNameFor(model => model.tipo_documento_descripcion)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;">
                                        @Html.DisplayNameFor(model => model.nombres)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;">
                                        @Html.DisplayNameFor(model => model.apellido_paterno)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;">
                                        @Html.DisplayNameFor(model => model.apellido_materno)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;text-align:center">
                                        @Html.DisplayNameFor(model => model.fecha_registro)
                                    </th>
                                    <th style="background-color:#1ABC9C;color:whitesmoke;text-align:center">
                                        Opciones
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="background-color:#9abcc3;text-align:center">
                                            @Html.DisplayFor(modelItem => item.codigo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.documento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tipo_documento_descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombres)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.apellido_paterno)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.apellido_materno)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.fecha_registro)
                                        </td>
                                        <td style="text-align:center">

                                            <a onclick="callDetalle(@item.codigo)" data-toggle="modal" data-target="#modalDetalle">
                                                <img src="~/img/detalle.png" width="18" title="Detalles" />
                                            </a> |
                                            <a onclick="callEdit(@item.codigo)" data-toggle="modal" data-target="#modalEditar">

                                                <img src="~/img/editar.png" width="18" title="Editar" />
                                            </a> |

                                            <a onclick="callEliminar(@item.codigo)" data-toggle="modal" data-target="#modalEliminar">
                                                <img src="~/img/file_delete.png" width="18" title="Eliminar" />
                                            </a> 
                                        </td>
                                    </tr>
                                }

                            </table>
                        
                    </div>
                </div>
            </div>
        </div>




    

<!--AGREGAR-->

    <div   class="modal fade modal-primary" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Cliente</h4>
                </div>
                <div class="modal-body">
                    <div id="divClienteNuevo">
                        @*@Html.Action("callPartialView", new { v_Modulo=1 })*@
                    </div>
                </div>
            
            </div>
        </div>
    </div>


<!--Detalle-->

<div class="modal fade modal-primary" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Informacion del Cliente</h4>
            </div>
            <div class="modal-body">
                <div id="divClienteDetalle">
                   
                </div>
            </div>

        </div>
    </div>
</div>

<!--Editar-->
<div class="modal fade modal-primary" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edicion</h4>
            </div>
            <div class="modal-body">
                <div id="divClienteEditar">

                </div>
            </div>

        </div>
    </div>
</div>


<!--Eliminar-->
<div class="modal fade modal-primary" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edicion</h4>
            </div>
            <div class="modal-body">
                <div id="divClienteEliminar">

                </div>
            </div>

        </div>
    </div>
</div>

<script>


    function callNuevo() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("_AgregarCliente", "Clientes")',
            contentType: "application/json; charset=utf-8",

            datatype: "json",
            success: function (data) {

                $('#divClienteNuevo').html(data);
                $.validator.unobtrusive.parse($("#divClienteNuevo"));

            },
            error: function () {
                alert("Error: Dynamic content load failed.");
            }
        });
    }







    function callDetalle(id) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("_DetalleCliente", "Clientes")',
            contentType: "application/json; charset=utf-8",
            data: { "id": id },
            datatype: "json",
            success: function (data) {

                $('#divClienteDetalle').html(data);
            
            },
            error: function () {
                alert("Error: Dynamic content load failed.");
            }
        });
      }

    function callEdit(id) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("_EditarCliente", "Clientes")',
            contentType: "application/json; charset=utf-8",
            data: { "id": id },
            datatype: "json",
            success: function (data) {

                $('#divClienteEditar').html(data);
              
            },
            error: function () {
                alert("Error: Dynamic content load failed.");
            }
        });
    }
    function callEliminar(id) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("_EliminarCliente", "Clientes")',
            contentType: "application/json; charset=utf-8",
            data: { "id": id },
            datatype: "json",
            success: function (data) {

                $('#divClienteEliminar').html(data);

            },
            error: function () {
                alert("Error: Dynamic content load failed.");
            }
        });
    }


    


</script>










       
        
